<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Thanks for Registertaion</title>
    <link rel="stylesheet" href="css/user.css">
</head>
<body>
    <h1 id="afteregister">Congratulations Your account has been Successfully Created!!!</h1>
    <h1 id="userid">Your userID is: <span th:text="${userid}"></span></h1>
    <h2 id="share">Don't Share your User ID !!!</h2>
</body>
</html>