<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>E-commerce products</title>
    <link rel="stylesheet" href="css/product.css">
    
</head>
<body>
    <div id="head">
        <a id="ecom" href="index.html">E-commerce</a>
        <div id="search">
            <input type="text" placeholder="Search here...">
            <button type="submit">Go</button>
        </div>
        
        <a id="log" href="login.html">Login</a>
    </div>
    <div id="navhead">
        <a class="nav first" href="#">T-shirt</a>
        <a class="nav">Formal</a>
        <a class="nav">Full hand</a>
        <a class="nav">Half hand</a>
        <a class="nav last">Hoodies</a>
    </div>
    <h1 id="title">Mens Fashion</h1>
    <div id="cont">
    <div id="filter">
        <h1 id="tex">FILTER</h1>
        <h3>Brand</h3>
        <div class="fill">
            <label for="a">A</label>
            <input type="radio" id="a" name="a">
        </div>
        <div class="fill">
            <label for="b">B</label>
            <input type="radio" id="b" name="a">
        </div>
        <div class="fill">
            <label for="c">C</label>
            <input type="radio" id="c" name="a">
        </div>
        <div class="fill all">
            <label for="all">All</label>
            <input type="radio" name="a" id="all">
        </div>
    </div>
    <div id="main">
        
    </div>
    
</div>

    <p id="page">Page <a href="#">1</a><a href="page2.html">2</a></p>
    

<hr>
<div id="foot">
    <a href="index0.html">Home</a>
    <p id="line"></p>
    <a href="about.html">About</a>
</div>


    <script src="js/index.js"></script>
    <script src="js/filter.js"></script>
</body>
</html>